:root {
  --preferred-font: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --preferred-font-zh: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei';

  --reset: {
    box-sizing: border-box;
    /*font-family: var(--preferred-font);*/
    /*-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-size-adjust: 100%;*/

    & *,
    & *::after,
    & *::before {
      box-sizing: border-box;
      /*-webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      text-size-adjust: 100%;
      -webkit-touch-callout: none;*/
    }
  }
}

*,
*::after,
*::before {
  @apply --reset;
}


html {
  font-family: var(--preferred-font);

  height: 100%;
  width: 100%;

  &[lang=zh] {
    font-family: var(--preferred-font-zh)
  }
}

body {
  height: 100%;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}
